.header {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.login,
.signup {
  margin-right: 50px;
}

.logo {
  margin-right: 50px;
  width: 100px;
}
